<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115207750-1"></script>
	<script src="{{ "files/js/google.js" | prepend: site.baseurl | replace: '//', '/' }}" type="text/javascript"></script>
	<link rel="stylesheet" href="{{ "files/css/default.css" | prepend: site.baseurl | replace: '//', '/' }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700%7CSuez+One" media="all">
	<style type="text/css">.NavbarToggle--open span:first-child,.NavbarToggle--open span:nth-child(6){-webkit-transform:rotate(45deg);transform:rotate(45deg)}.NavbarToggle--open span:nth-child(2),.NavbarToggle--open span:nth-child(5){-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.NavbarToggle--open span:first-child{left:7px;top:7px}.NavbarToggle--open span:nth-child(2){left:calc(50% - 5px);top:7px}.NavbarToggle--open span:nth-child(3){left:-50%;opacity:0}.NavbarToggle--open span:nth-child(4){left:100%;opacity:0}.NavbarToggle--open span:nth-child(5){left:7px;top:15px}.NavbarToggle--open span:nth-child(6){left:calc(50% - 5px);top:15px}</style>
</head>


