{% for projeto in site.projeto %}
   {% if projeto.default == true %}
      <section class="LastProject HomeSection">
         <div class="HomeSection__inner">
            <header class="HomeSection__header">
               <h2>Último Projeto</h2>
            </header>
            <div class="container">
               <article class="project project--invert">
                  <div class="container">
                     <div class="grid grid--1of2">
                        <div class="project__content grid__column">
                           <h2 class="project__title"><a href="{{ projeto.site }}" target="_blank">{{ projeto.name }}</a></h2>
                           <p class="project__description">{{ projeto.description }}</p>
                           <div class="project__meta">
                              <span class="project__date">
                                 <strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                                       <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                       <line x1="16" y1="2" x2="16" y2="6"></line>
                                       <line x1="8" y1="2" x2="8" y2="6"></line>
                                       <line x1="3" y1="10" x2="21" y2="10"></line>
                                    </svg>
                                 </strong>
                                 {{ projeto.date }}
                              </span>
                              <br>
                              <span class="project__url">
                                 <strong>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link">
                                       <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                                       <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
                                    </svg>
                                 </strong>
                                 <a href="{{ projeto.site }}" target="_blank">{{ projeto.site }}</a>
                              </span>
                           </div>
                        </div>
                        <figure class="project__thumbnail grid__column"><a href="{{ projeto.site }}" target="_blank" class="project__thumbnail-browser"><span class="project__thumbnail-browser-bar"><small>{{ projeto.site }}</small></span><img alt="Thumbnail do projeto: Onedev.studio" data-src="/files/images/projects/{{ projeto.imagem }}" src="/files/images/projects/{{ projeto.imagem }}" lazy="loaded"></a></figure>
                     </div>
                  </div>
               </article>
               <div class="HomeSection__button">
                  <span role="button" class="link-button link-button--ghost-white">
                     <a href="/projetos" target="_self" class="link-button__link">mais projetos →</a><!---->
                  </span>
               </div>
            </div>
         </div>
      </section>
   {% endif %}
{% endfor %}