<header class="pageHeader" data-src="" lazy="error" style="background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;);">
   <div class="pageHeader__inner">
      <div>
         <div class="container">
            <h1 itemprop="headline" class="pageHeader__title">{{ page.title }}</h1>
            <ol itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
               <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
                  <a href="/" class="breadcrumb__link nuxt-link-active" title="Home" itemprop="item">
                     <span itemprop="name">Home</span>
                     <meta itemprop="position" content="1">
                  </a>
                  <span class="breadcrumb__divider">»</span>
               </li>
               <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
                  <a href="{{ page.permalink }}" class="breadcrumb__link nuxt-link-exact-active nuxt-link-active breadcrumb__link--active" title="{{ page.title }}" itemprop="item">
                     <span itemprop="name">{{ page.title }}</span>
                     <meta itemprop="position" content="2">
                  </a>
                  <span class="breadcrumb__divider">»</span>
               </li>
            </ol>
            <p itemprop="description" class="pageHeader__description">{{ page.description }}</p>
         </div>
      </div>
   </div>
</header>