<div class="paginacao">
   {% if paginator.total_pages > 1 %}
      <div class="pagination">
         <ul>
            {% if paginator.previous_page == 1 %}
            <li>
               <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" style="background-image: url(&quot;/etc/images/back.svg&quot;);" class="page-item setas">&laquo;</a>
            </li>
            {% elsif paginator.previous_page%}
            <li>
               <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" style="background-image: url(&quot;/etc/images/back.svg&quot;);" class="page-item setas">&laquo;</a>
            </li>
            {% else %}
            <li>
               <span class="page-item setas" style="background-image: url(&quot;/etc/images/back_old.svg&quot;);">&laquo;</span>
            </li>
            {% endif %}
                  
            {% for page in (1..paginator.total_pages) %}
               {% if page == paginator.page %}
                  <li>
                     <span class="page-item olditens">{{ page }}</span>
                  </li>
                  {% elsif page == 1 %}
                  <li>
                     <a class="intens" href="/blog/" class="page-item">{{ page }}</a>
                  </li>
                  {% else %}
                  <li>
                     <a class="intens" href="/blog/page/{{ page }}">{{ page }}</a>
                  </li>
               {% endif %}
            {% endfor %}
                  
            {% if paginator.next_page %}
            <li>
               <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" style="background-image: url(&quot;/etc/images/next.svg&quot;);" class="page-item setas">&raquo;</a>
            </li>
            {% else %}
            <li>
               <span style="background-image: url(&quot;/etc/images/next_old.svg&quot;);" class="page-item setas">&raquo;</span>
            </li>
            {% endif %}
         </ul>
      </div>
   {% endif %}
</div>
