<div class="UserInfo container--small" itemscope="" itemtype="http://schema.org/Person" >
   <figure class="UserInfo__figure" ><img alt="Imagem de perfil do autor"  data-src="/files/images/about/{{site.AuthorImagem}}" src="/files/images/about/{{site.AuthorImagem}}" lazy="loaded"></figure>
   <div class="UserInfo__bio" >
      <h4 >O autor</h4>
      <p ><strong ><a href="/sobre" title="Meu nome é {{site.author}} (muito prazer)" itemprop="name"  class="">{{site.author}}</a></strong>, 25 anos, sou <strong itemprop="jobTitle" >analista de segurnaça da informação</strong> apaixonado po <strong >Linux</strong> e entusiasta em desenvolvimento. Esta sempre em busca de automatizar tarefas do dia-a-dia e de um bom café.</p>
   </div>
</div>