<header class="pageHeader pageHeader--background" data-src="{{ page.background }}" lazy="loaded" style="background-image: url(&quot;{{ page.background }}&quot;);">
   <div class="pageHeader__inner">
      <div>
         <figure itemprop="image" itemscope="itemscope" itemtype="http://schema.org/ImageObject" class="pageHeader__image">
            <meta itemprop="url" content="{{ page.background }}">
            <img src="{{ page.background }}" alt="Imagem de: {{ page.title }}">
         </figure>
         <div class="container">
            <h1 itemprop="headline" class="pageHeader__title">{{ page.title }}</h1>
            <ol itemscope="itemscope" itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
               <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
                  <a href="/" class="breadcrumb__link nuxt-link-active" title="Home" itemprop="item">
                     <span itemprop="name">Home</span>
                     <meta itemprop="position" content="1">
                  </a>
                  <span class="breadcrumb__divider">»</span>
               </li>
               <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
                  <a href="/blog" class="breadcrumb__link" title="Blog" itemprop="item">
                     <span itemprop="name">Blog</span>
                     <meta itemprop="position" content="2">
                  </a>
                  <span class="breadcrumb__divider">»</span>
               </li>
               <li itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/ListItem" class="breadcrumb__item">
                  <a href="/programador-a-comunidade-precisa-de-voce" class="breadcrumb__link nuxt-link-exact-active nuxt-link-active breadcrumb__link--active" title="Programador a comunidade precisa de você!" itemprop="item">
                     <span itemprop="name">{{ page.title }}</span>
                     <meta itemprop="position" content="3">
                  </a>
                  <span class="breadcrumb__divider">»</span>
               </li>
            </ol>
            <p itemprop="description" class="pageHeader__description">{{ page.description }}</p>
            <div class="pageHeader__meta">
               <span itemprop="datePublished" content="2017-03-12">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                     <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                     <line x1="16" y1="2" x2="16" y2="6"></line>
                     <line x1="8" y1="2" x2="8" y2="6"></line>
                     <line x1="3" y1="10" x2="21" y2="10"></line>
                  </svg>
                  <strong>Publicado em {{ page.data }}</strong>
               </span>
               <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                     <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                     <circle cx="12" cy="7" r="4"></circle>
                  </svg>
                  <strong>por <span itemprop="author">{{ site.author }}</span></strong>
               </span>
            </div>
         </div>
      </div>
   </div>
</header>