<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115207750-1"></script>
	<script src="{{ "files/js/google.js" | prepend: site.baseurl | replace: '//', '/' }}" type="text/javascript"></script>
	<link rel="stylesheet" href="{{ "files/css/now.css" | prepend: site.baseurl | replace: '//', '/' }}">
	<script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700%7CSuez+One" media="all">
	<link rel="stylesheet" href="data:text/css;charset=utf-8;base64,LmNmLXR0LWVsZW1lbnQgLmNmLXR0LWNvbnRlbnQgewogIC13ZWJraXQtYm94LWFsaWduOiBjZW50ZXI7CiAgICAgIC1tcy1mbGV4LWFsaWduOiBjZW50ZXI7CiAgICAgICAgICBhbGlnbi1pdGVtczogY2VudGVyOwogIGNvbG9yOiB3aGl0ZTsKICBkaXNwbGF5OiAtd2Via2l0LWJveDsKICBkaXNwbGF5OiAtbXMtZmxleGJveDsKICBkaXNwbGF5OiBmbGV4OwogIHBhZGRpbmc6IDAuMmVtIDAuN2VtIDAuMmVtIDFlbTsKfQoKLmNmLXR0LWNvbnRlbnQ6aG92ZXIgewogIGN1cnNvcjogcG9pbnRlcjsKfQoKLmNmLXR0LWNvbnRlbnQgPiBzdmcgewogIGRpc3BsYXk6IGlubGluZS1ibG9jazsKICBoZWlnaHQ6IDIuNWVtOwogIHdpZHRoOiAyLjVlbTsKfQo=">
</head>

